<div class="box-alignment">
    <div class="item-alignment title"><b>{{title}}</b></div>
    <div class="item-alignment">
        <md-input-container style="width: 100%;" >
            <input md-input placeholder="name" type="input" name="input" [(ngModel)]="titleValue">
        </md-input-container>
    </div>
    <div class="item-alignment">
        <select id="list" name="Category value" style="width: 100%;display:flex;"
                  required
                  [(ngModel)]="modelValue" name="list">
            <option *ngFor="let lan of list" [value]="lan">{{lan}}</option>
          </select>
    </div>
	
    <div class="button-container">
        <div class="buttons">
        <button md-raised-button (tap)="Save()">Save</button>
        </div>
        <div class="buttons">
        <button md-raised-button (tap)="Cancel()">Cancel</button>
        </div>
    </div>
</div>