    <div class="create-container create-alignment">
        <h3>Create new shopping list</h3>
        <form>
            <md-input-container style="width: 100%">
                <input md-input placeholder="Title">
            </md-input-container>
            <md-input-container style="width: 100%">
                <input md-input placeholder="Description">
            </md-input-container>
                <select name="Catalog language" style="width: 50%;display:flex;">
                    <option value="English">English</option>
                    <option value="German">German</option>
                </select>
            <md-input-container style="width: 50%;display:flex;">
                <input md-input placeholder="Your name">
            </md-input-container>
            <md-input-container style="width: 50%;display: flex;">
                <input md-input type="email" placeholder="Your email address">
            </md-input-container>
            <div class="form-align-items">
                <md-icon>menu</md-icon>
                <h5>Invite user</h5>
            </div>
            <md-input-container style="width: 100%">
                <input md-input placeholder="email address">
            </md-input-container>
            <div class="form-align-items">
                <md-icon>add</md-icon>
                <h5>Add more users</h5>
            </div>
            <button md-raised-button>Create</button>
    </form>
    </div>