.slist{
    height:100%;
}
.slist-search{
    height:10%;
}
.slist-myItems{
    min-height: 20vh;
}
.slist-catalog div span{
    margin: 1em 0;
    cursor: pointer;
    padding: 5px 0;
}
.sList-catalog-item-name{
    background: orange;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}
.sList-catalog-item-name-default{
    background: orange;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}
.slist-article-direction{
    display: flex;
    font-size: 16px;
    flex-wrap:wrap;
    width:90%;
}

.slist-article{
    display: inline-block;
    margin:10px 0 0 10px;
    flex-grow: 1;
    height:100px;    
    width: calc(100% * (1/4) - 10px - 1px);
    border-radius: 5px;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:1em;;
    cursor: pointer;
}

.slist-article-default{
    display: flex;
    margin:10px 0 0 10px;
    flex-grow: 1;
    height:100px;    
    width: calc(100% * (1/4) - 10px - 1px);
    border-radius: 5px;
    max-width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:1em;;
    cursor: pointer;
}

.manage-catalog-item{
    display:inline-block;
    vertical-align: middle;
}

div a{
    cursor:pointer;
    text-decoration: none;
}

.manage-article-item{
    width:100%;
    display: flex;
    flex-direction: row;

}

.manage-article-item-name{
    width:50%;
    max-width: 100px;
    background: #90CAF9;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 5px;
    background: #90CAF9;
}

.manage-article-item-name-default{
    width:100%;
    height: 100px;
    border-radius: 5px;
    background: #90CAF9;
}

.manage-article-item-buttons{
    width:25%;
    height: 100px;
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sList-catalog-item{
    width: 100%;
    display: flex;
    flex-direction: row;
}