a {
    color: inherit;
    text-decoration: none;
    padding: 5px;
}

a:hover 
{
     color:inherit; 
     text-decoration:none; 
     cursor:pointer;  
}

a.active {
    border-bottom: 2px solid;
    border-bottom-color: inherit;
}

.header-remaining-space{
    flex:1 1 auto;
}
md-toolbar-row{
    padding-left: 1em;
}
md-toolbar-row.toolbar-subtext{
    align-items: baseline;
    font-size: initial;
}
md-toolbar{
    /*height:10vh;*/
    height:100px;
    padding: 0;
}
md-toolbar-row{
    height: 50px;
}
.toolbar-img-align{
    height: inherit;
}
.toolbar-align{
    height: 0;
    display: flex;
    flex-direction: column;
}
md-sidenav-layout{
    /*height: 90vh;*/
}
md-sidenav{
    width:256px;
}

.content{
    position: relative;
    min-height: 90vh;
    /*min-height: 90vh;*/
}
.app-main-container{
    margin: 0 1em;
    min-height: 90vh;
}
md-sidenav-container.md-sidenav-content{
    margin-left: 0;
    
}
.app-footer-container{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height:10%;
    padding: 1rem;
    background-color:#1c5792;
    text-align: center;
    color:white;
    display: flex;
    flex: 1 1 auto;
    }
.footer-container{
}
.nav-item img{
    margin:1em;
}
.sidenav-tems-align{
    display: inline-block;
    vertical-align: middle;
}
.nav-item{
    border-bottom: 1px solid black;
    background-color: #90CAF9;
    cursor:pointer;
}
md-sidenav-container{
   min-height:90vh;
}

* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}