.slist{
    height:100%;
}
.slist-search{
    height:10%;
}
.slist-myItems{
    min-height: 20vh;
}
.slist-catalog h3{
    background: orange;
    cursor: pointer;
    padding: 5px 0;
}
.slist-article-direction{
    display: flex;
    font-size: 16px;
    flex-wrap:wrap;
}
.slist-article{
    display: inline;
}
// .slist-article:hover{
//     box-shadow: none;
// }
.slist-article{
    // box-shadow: 5px 5px 2px 0px #9E9E9E;
     display: inline-block;
    margin:10px 0 0 10px;
    flex-grow: 1;
    height:100px;    
    width: calc(100% * (1/3) - 10px - 1px);
    max-width: 100px;
    border-radius: 5px;
    background: #90CAF9;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:1em;;
    cursor: pointer;
}

.slist-article-details{
    width: 100%;
    background: #b8b8b8;
    border: #D3D3D3	 1px;
    display: flex;
    flex-direction: column;
    margin:1em 0;
    display: none;
}

.slist-article-detail-box{
    display: flex;
    flex-direction: row;
    min-height: 150px;
    width:100%;
}

.slist-article-detail-box-content{
    width:75%;
    margin:0.3em;
}
.slist-article-detail-box-buttons{
    width: 24%;
    margin:1em;
    max-width: 100px;
}

.slist-article-detail-box-buttons{
    display: flex;
    flex-direction: column;
}
.verticalLine {
  border-left: thick solid #a6a1a1;
}
.slist-article-detail-button{
    border-radius: 10px;
}
.triangle-down {
    text-align: center;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid #b8b8b8;
}
.info-icon{
    width:16px;
    height:10px;
    border-radius: 50%;
    float: right;
    top:0;
    color:red;
    background: white;
    height:20%;
}

.slist-article-item{
    display: flex;
    flex-direction: column;
    height:inherit;
}



.sList-catalog-item-name-default {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    background: orange;
    
}

.article-item{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.article-item:focus , .article-item:hover{
    border: 1px solid rgba(81, 203, 238, 1);
}

