    <div class="create-container create-alignment">
        <h3>Edit shopping list</h3>
        <form>
            <md-input-container style="width: 100%">
                <input mdInput placeholder="Title" name="title" [(ngModel)]="model.title" >
            </md-input-container>
            <md-input-container style="width: 100%">
                <input mdInput placeholder="Description"  name="description" [(ngModel)]="model.description">
            </md-input-container>
                <select  id="language" name="Catalog language" style="width: 50%;display:flex;"
                  required
                  [(ngModel)]="model.language" name="language">
            <option *ngFor="let lan of languages" [value]="lan">{{lan}}</option>
          </select>
            <md-input-container style="width: 100%;display:flex;">
                <input mdInput placeholder="Your name"  name="name" [(ngModel)]="model.name">
            </md-input-container>
            <md-input-container style="width: 100%;display: flex;">
                <input mdInput type="email" placeholder="Your email address"  name="email" [(ngModel)]="model.email">
            </md-input-container>
            <div class="form-align-items">  
                <md-icon>menu</md-icon>
                <h5>Invite user</h5>
            </div>
            
            <div *ngFor="let usr of users ;let in=index" style="width: 100%;display: flex;margin-bottom: 1em;">
                <span>{{usr}}</span>
                <i class="material-icons" (tap)="removeFromSListUsers(usr)">clear</i>
            </div>

            <md-input-container style="width: 100%" *ngFor="let usr of usersEdit ;let in=index;trackBy:customTrackBy" >
                <input mdInput placeholder="email address" type="email" [(ngModel)]="usersEdit[in]" name="inviteduser{{in}}" >
            </md-input-container>
            <div class="form-align-items" >
                <md-icon style="cursor: pointer;" (tap)="addInvitedUsers()">add</md-icon>
                <h5>Add more users</h5>
            </div>
            <button md-raised-button (tap)="EditList()">Save</button>
            <button md-raised-button (tap)="CancelList()">Cancel</button>
    </form>
    </div>