
<div class="start-container start-alignment">
    <div class="start-alignment start-content">
        <span>Manage your shopping list online and offline</span>
        <span>Share it with friends</span>
        <span>No registration or login required</span>
        <span>Simple and Useful</span>
    </div>
    <div class="start-alignment start-button">
        <a [routerLink]="['/create']" md-raised-button>Get started !</a>
        <span>Let's get started and create your shopping list ...</span>
    </div>
    <div class="start-alignment start-help">
        <span>Any questions ? Visit our <a [routerLink]="['/help']"> help page</a></span>
    </div>
</div>
