/* You can add global styles to this file, and also import other style files */
html {
  height: 100vh;
  width:100vw;
  /*box-sizing: border-box;*/
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
    position: relative;
    margin: 0;
    /*padding-bottom: 6rem;*/
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.load-container{
    position: relative;
    display: flex;
    height:50vh;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}